body {
  background-color: rgb(25,25,25);
  color: white;
  font-size: 21px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  background-color: rgb(66, 65, 65);
  height: 65px;
  width: 65px;
  border-radius: 50px;
  border-style: none;
  color: white;
  font-size: 21px;
  margin-right: 12px;
  align-items: center;
}
.orange-btn{
  background-color: orange;
  border-radius: 50px;
  border-style: none;
}
.clear-btn{
  font-size: 16px;
  padding: 14px 19px;
  width: 75px;
  height: 60px;
}

